extends layout
block content
  h1= appName
  h1= title
  if me
      h4 name: #{me.name}
      img(src="#{me.image}")
      h4 email: #{me.email}
  a(href= url)= "Get permissions" 
  if persons
      h5 #{persons.length} persons loaded
      each person in persons
          if person.name
              h4= person.name
          else
              h4 unknown name
          li= person.email
