extends layout
block content
  h1= appName
  h1= title
  a(href= url)= "Get permissions" 
  if persons
      h5 #{persons.length} persons loaded
      each person in persons
          if person.name
              h4= person.name
          else
              h4 unknown name
          li= person.email
